{% extends 'base.html.twig' %}

{% block title %}TechShop - Ma wishList{% endblock title %}

{% block header %}{% endblock header %}
{% block content %}
<div class="products-container">
    <section class="category__section section wishList" id="category"> 
        <div class="title__container">
            <div class="section__title active">
                <span class="dot"></span>
                <h1 class="primary__title">Ma WishList</h1>
            </div>
        </div>
        <div class="category__container" data-aos="fade-up" data-aos-duration="1200">
            <div class="category_center"> 
                {% for product in wishList.products %}
                    <div class="product">
                        <div class="product__header">
                            <img src="/uploads/{{product.illustration}}" alt="product">
                        </div>
                        <div class="product__footer">
                            <h3>{{product.name}} </h3>                        
                           <div class="product__price">
                                <h4>{{(product.price / 100)|number_format(2,',','.')}} DH </h4>
                            </div>
                                <a href="{{path('product_show' ,{'slug': product.slug} )}}"><button type="submit" class="product__btn">VOIR LE PRODUIT</button></a>
                            </div>
                            <ul>
                                <li>
                                    <a data-tip="Quick View" data-place="left" href="{{path('product_show' ,{'slug': product.slug} )}}">
                                        <svg>
                                            <use xlink:href="{{asset('images/sprite.svg#icon-eye')}}"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a data-tip="Add To Compare" data-place="left" href="{{path('wish_list_remove',{'slug': product.slug})}}">
                                        <svg>
                                            <use xlink:href="{{asset('images/sprite.svg#icon-trash')}}"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
			{% endfor %}
            {% if wishList.products.values == null %}
                <div class="noProducts">
                    <h1>Vous n'avez aucun produit dans votre wishList,cliquez <a href="{{path('product')}}">ici</a> pour visiter notre catalogue</h1>
                </div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock content %}
{% block footer %}{% endblock footer %}

