{% extends 'base.html.twig' %} {% block title %}TechShop - Mon panier{% endblock title %} {% block content %}
<style>
    .h2-panier-vide {
        text-align: center;
        padding: 3rem;
    }
    
    .btn-conf {
        display: none;
    }
    
    .btn-modif,
    .btn-conf {
        display: none;
        border: 1px solid black;
        padding: 1rem;
        color: black;
        transition: all 0.5s;
        cursor: pointer;
        float: right;
        margin-left: auto;
    }
    
    .btn-modif:hover,
    .btn-conf:hover {
        color: white;
        background-color: red;
        border-color: white;
    }
    
    .header-cart {
        display: flex;
        flex-direction: column;
    }
    
    .header-cart h1 {
        margin-right: 2rem;
    }
    
    .line1 {
        display: flex;
        justify-content: normal;
    }
    
    .old__price {
        font-size: 1.5rem;
        color: var(--green);
    }
    
    .responsive-counter {
        display: none;
    }
    
    @media screen and (max-width: 438px) {
        .product__quantity .input-counter {
            display: none;
        }
        .responsive-counter {
            display: initial;
            margin-top: 0.5rem;
        }
    }
</style>
<section class="section cart__area">
    <div class="container">
        <div class="responsive__cart-area">
            <form class="cart__form">
                <div class="cart__table table-responsive">
                    <div class="header-cart">
                        <div class="line1">
                            <h1>Mon Panier : </h1>
                            <a class="btn-modif" id="btn-modif">
                                <span id="btn-modif-span">
                                                Modifier
                                </span>
                            </a>
                            <a class="btn-conf" id="btn-conf">
                                <span id="btn-modif-span">
                                                Confirmer
                                </span>
                            </a>
                        </div>
                        <div class="line2">
                            <p> {{cart|length}} éléments</p>
                        </div>



                    </div>


                    <table width="100%" class="table">
                        {% if cart|length == 0 %}
                        <h2 class="h2-panier-vide">Votre panier est vide !!!</h2>
                        {% else %}
                        <thead>

                            <tr>
                                <th class="t1"></th>
                                <th class="t2"></th>
                                <th class="t3"></th>
                                <th class="t4"></th>
                                <th class="t5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set totalPriceProduct = 0 %} {% set total = 0 %} {% for product in cart %}
                            <tr>
                                <td class="product__thumbnail">
                                    <a href="#">
                                        <img src="uploads/{{product.product.illustration}}" alt="">
                                    </a>
                                </td>
                                <td class="product__name">
                                    <a href="#">{{product.product.name}} </a>
                                    <br>
                                    <small>{{product.variation}}</small>
                                    <br><br> {% set totalPriceProduct = (product.product.price / 100) * product.quantity %}
                                    <div class="price">
                                        <p><span class="old__price">{{(product.product.price / 100)|number_format(2, ',', '.')}} DH </span><small>/Pièce</small></p>
                                        <p><span class="new__price">{{totalPriceProduct|number_format(2, ',', '.')}} DH</span></p>
                                    </div>
                                    <div class="input-counter responsive-counter">
                                        <div>

                                            <a class="minus-btn" href="{{path('minus_cart',{'id':product.id})}} ">
                                                <svg class="minus-cart-svg">
                                                    <use xlink:href="{{asset('images/sprite.svg#icon-minus')}} "></use>
                                                </svg>
                                            </a>

                                            <input type="number" min="1" value="{{product.quantity}}" max="10" class="counter-btn" id="counter-btn" name="quantity" disabled> {# <span class="counter-btn" id="counter-btn">1</span> #}

                                            <a class="plus-btn" href="{{path('plus_cart',{'id':product.id})}} " disabled>
                                                <svg class="plus-cart-svg">
                                                    <use xlink:href="{{asset('images/sprite.svg#icon-plus')}} "></use>
                                                </svg>
                                            </a>

                                        </div>
                                </td>
                                <td class="product__quantity">
                                    <div class="input-counter">
                                        <div>

                                            <a class="minus-btn" href="{{path('minus_cart',{'id':product.id})}} ">
                                                <svg class="minus-cart-svg">
                                                    <use xlink:href="{{asset('images/sprite.svg#icon-minus')}} "></use>
                                                </svg>
                                            </a>

                                            <input type="number" min="1" value="{{product.quantity}}" max="10" class="counter-btn" id="counter-btn" name="quantity" disabled> {# <span class="counter-btn" id="counter-btn">1</span> #}

                                            <a class="plus-btn" href="{{path('plus_cart',{'id':product.id})}} " disabled>
                                                <svg class="plus-cart-svg">
                                                    <use xlink:href="{{asset('images/sprite.svg#icon-plus')}} "></use>
                                                </svg>
                                            </a>

                                        </div>
                                    </div>
                                </td>
                                <td class="product__subtotal">
                                    <a href="{{path('delete_cart',{'id': product.id}  )}} " class="remove__cart-item">
                                        <svg>
                                            <use xlink:href="{{asset('images/sprite.svg#icon-trash')}} "></use>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            {% set total = total + totalPriceProduct %} {% endfor %}
                        </tbody>
                        {% endif %}

                    </table>
                    </div>

                    <div class="cart-btns">
                        <div class="continue__shopping">
                            <a href="{{path('product')}}">Poursuivre mes achats</a>
                        </div>
                    </div>


            </form>
            <div class="right" {% if (cart|length)==(0) %} style="display: none;" {% endif %}>
                <div class="cart__totals">
                    <h3>Prix du panier <small>(Livraison et taxe non inclue !)</small></h3>
                    <ul>
                        <li>
                            Total
                            <span class="new__price">{{total|number_format(2, ',', '.')}} DH </span>
                        </li>
                    </ul>
                    <a href="{{path('address')}}">Choisir mon adresse</a>
                </div>
            </div>
            </div>
        </div>
</section>

<script>
    // Plus et moin Btn
    $inputValue = document.getElementById('counter-btn').value;
    if ($inputValue > 1 && $inputValue < 10) {
        document.querySelector('.minus-cart-svg').classList.remove("disabled-btn");
        document.querySelector('.plus-cart-svg').classList.remove("disabled-btn");
    } else if ($inputValue == 10) {
        document.querySelector('.plus-cart-svg').classList.add("disabled-btn");

    }
</script>
{% endblock content %} {% block services %}{% endblock services %} {% block footer %}{% endblock footer %}