<!-- Header -->
<header id="header" class="header">
    <div class="navigation">
        <div class="container">
            <nav class="nav">
                <div class="nav__hamburger">
                    <svg>
              <use xlink:href="{{asset('images/sprite.svg#icon-menu')}}"></use>
            </svg>
                </div>

                <div class="nav__logo">
                    <a href="{{path('home')}}">
              TechShop
            </a>
                </div>

                <div class="nav__menu">
                    <div class="menu__top">
                        <span class="nav__category">TechShop</span>
                        <a href="" class="close__toggle">
                            <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-cross')}} "></use>
                </svg>
                        </a>
                    </div>
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href=" {{path('home')}} " class="nav__link">Acceuil</a>
                        </li>
                        <li class="nav__item">
                            <a href=" {{path('product')}} " class="nav__link">Produits</a>
                        </li>
                        <li class="nav__item">
                            <a href=" {{path('wish_list')}} " class="nav__link">WishList</a>
                        </li>
                        {# <li class="nav__item">
                            <a href="#news" class="nav__link scroll-link">Blog</a>
                        </li> #}
                        <li class="nav__item">
                            <a href="{{path('contact')}}" class="nav__link">Contact</a>
                        </li>
                        {% if app.user %}
                        <li class="nav__item">
                            <a href="{{path('app_logout')}} " class="nav__item__link deco">Deconnexion</a>
                        </li>
                        {% else %}
                        <li class="nav__item">
                            <a href="{{path('app_login')}} " class="nav__item__link" style="color: var(--orange);">Connexion</a> 
                        </li>
                        <li class="nav__item">
                            <a href="{{path('register')}} " class="nav__item__link" style="color: var(--orange);">S'inscrire</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

                <div class="nav__icons">

                    {% if app.user %}
                    <a href=" {{path('account')}}" class="icon__item">
                        <svg class="icon__user">
                        <use xlink:href="{{asset('images/sprite.svg#icon-user')}} "></use>
                        </svg>
                    </a>
                    <a href="#" class="icon__item">
                        <svg class="icon__search">
                        <use xlink:href="{{asset('images/sprite.svg#icon-search')}} "></use>
                        </svg>
                    </a>
                    
                    <a href="{{path('cart')}} " class="icon__item">
                        <svg class="icon__cart">
                        <use xlink:href="{{asset('images/sprite.svg#icon-shopping-basket')}} "></use>
                        </svg>
                        <span id="cart__total">{{cart|length}}</span>
                    </a>
                    {% else %}
                    <a href="#" class="icon__item">
                        <svg class="icon__search">
                        <use xlink:href="{{asset('images/sprite.svg#icon-search')}} "></use>
                        </svg>
                    </a>
                    <a href="{{path('cart')}} " class="icon__item">
                        <svg class="icon__cart">
                        <use xlink:href="{{asset('images/sprite.svg#icon-shopping-basket')}} "></use>
                        </svg>
                        <span id="cart__total">{{cart|length}}</span>
                    </a>
                    {% endif %}


                   
                </div>
                <div class="link__item">
                {% if app.user %}
                    <a href="{{path('app_logout')}} " class="item__link deco">Deconnexion</a>
                {% else %}
                    <a href="{{path('app_login')}} " class="item__link">Connexion</a> |
                    <a href="{{path('register')}} " class="item__link">S'inscrire</a>
                {% endif %}
                
                </div>

            </nav>
        </div>
    </div>
</header>
<!-- End Header -->