<section class="review-form">
    <div class="title__container tabs">
        <div class="section__titles category__titles ">
            <div class="section__title detail-btn active" data-id="description">
                <span class="dot"></span>
                <h1 class="primary__title">Ajouter un avis</h1>
            </div>
        </div>
    </div>
    <div class="review-sty">
        <div class="container">
            {# <div class="title">Avis</div> #}
            <div class="rating"></div>
            <div class="contenue">
                <div class="review-form">
                    {{form_start(form,{'attr': {'autocomplete': 'off'} })}}
                        <div class="input-box">
                            {{form_widget(form.title, {'attr' : {'class' : 'title-widg' , 'placeholder' : 'Titre du commentaire'} }  ) }}
                        </div>
                        <div class="input-box">
                            {{form_widget(form.description, {'attr' : {'class' : 'desc-widg' , 'placeholder' : 'Ecrivez ici votre commentaire...'} }  ) }}
                        </div>
                        <div class="input-box">
                            {{form_row(form.submit, {'label' : 'Ajouter', 'attr' : {'class' : 'submit-widg'} }  ) }}
                        </div>
                    {{form_end(form)}}
                </div>
                <div class="reviews">
                
                </div>
            </div>
        </div>
    </div>
</section>
