<section class="review">
    <div class="title__container tabs">
        <div class="section__titles category__titles">
            <div class="section__title detail-btn active" data-id="description">
                <span class="dot"></span>
                <h1 class="primary__title">AVIS</h1>
            </div>
        </div>
    </div>
  {% if allReviews|length > 0 %}

  <section class="reviews">
  {% for review in allReviews %}
  <div class="review-container">
    <div class="name-rating">
      <div class="div-name">
        <h1 class="name">{{review.user.firstname}} </h1>
        {# <div class="div-rating">
            <div class="rating">
                <svg>
              <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
            </svg>
                <svg>
              <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
            </svg>
                <svg>
              <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
            </svg>
                <svg>
              <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
            </svg>
                <svg>
              <use xlink:href="{{asset('images/sprite.svg#icon-star-empty')}} "></use>
            </svg>
            </div>
        </div> #}
      </div>
  </div>
    <div class="reviw-desc-div">
      <p class="desc">{{review.description}} </p>
    </div>
  </div>
  {% endfor %}
  </section>

  {% else %}
      <h1 style="text-align: center;padding: 4rem;">Aucun avis</h1>
  {% endif %}
</section>
