<style>
h1{
  text-align : center;
}
.reviews .product{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25rem;
    border: 1px solid rgba(25,25,25,0.5);
    border-radius: 10px;
    padding: 2rem;
    overflow: hidden;
}

.reviews .product__header h4{
        font-weight: bold;
        color: black;

}

.reviews .review-desc p{
    margin-top: 1rem;
    font-weight: normal;
    color: black;
    font-size: initial;
}

.reviews .product__footer{
        font-size: large;
}
</style>

{% if allReviews|length > 0 %}
<section class="section reviews latest__products" id="reviews">
    <div class="container" data-aos="fade-up" data-aos-duration="1200">
       
        <div class="glide" id="glide_5">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides latest-center">
                    {% for review in allReviews %}
                        <li class="glide__slide">
                        <div class="product">
                            <div class="product__header">
                                <h4>{{review.title}} </h4>
                                <div class="rating">
                                    <svg>
                          <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                        </svg>
                                    <svg>
                          <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                        </svg>
                                    <svg>
                          <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                        </svg>
                                    <svg>
                          <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                        </svg>
                                    <svg>
                          <use xlink:href="{{asset('images/sprite.svg#icon-star-empty')}} "></use>
                        </svg>
                                </div>
                                <div class="review-desc">
                                    <p>{{review.description}}</p>
                                </div>
                                
                            </div>
                            <div class="product__footer">
                               <p>Par {{review.user.firstname}} , le {{review.createdAt}}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    
                </ul>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-arrow-left2')}} "></use>
                </svg>
              </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-arrow-right2')}} "></use>
                </svg>
              </button>
            </div>
        </div>
    </div>
</section>
{% else %}
    <h1>Aucun avis ! </h1>
{% endif %}