{% extends 'base.html.twig' %} {% block title %}TechShop - Mes informations{% endblock %} {% block content %}
<section class="success">
    <div class="container">
        <section class="thanks-purchase">
            <div class="account-title">
                <a href="{{path('credentials_modif')}}" class="cred-btn">Modifier</a>
                <h1>Mes informations</h1>
            </div>
            <div class="account-bjr">
                <h4>Bienvenue <strong>{{app.user.pseudoname}}</strong>, dans la page de gestion de vos informations,</h4>
            </div>
        </section>
        <section class="resume">
            <div class="resume-div">
                <div class="resume-table">
                    <table class="resumeTables">
                        <tbody>
                            <tr>
                                <th>Email</th>
                                <td>{{user.email}} </td>
                            </tr>
                            <tr>
                                <th>Mot de passe</th>
                                <td>***</td>
                            </tr>
                            <tr>
                                <th>Prénom</th>
                                <td>{{user.firstname}} </td>
                            </tr>
                            <tr>
                                <th>Pseudoname</th>
                                <td>{{user.pseudoname}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cred-btn-div">
                <a href="{{path('credentials_modif')}} " class="cred-btn-resp">Modifier</a>
            </div>
        </section>
    </div>
</section>
{% endblock content %}
{% block footer %}{% endblock footer %}