{% extends 'base.html.twig' %} {% block title %}TechShop - Modification{% endblock title %}{% block content %}


<link rel="stylesheet" href=" {{asset('form.css?8')}} ">
<div class="formulaire-sty">
    <div class="container">
        <div class="title">Modification</div>
        <div class="content">
            <div class="user-details">
                {{form_start(form)}} {#
                <div class="error"> {{form_errors(form,{'label':'Error'})}} </div> #}
                <div class="input-box">
                    {{form_label(form.firstname,'Nouveau Prénom',{'label_attr':{'class':'details'}})}} {{form_widget(form.firstname,{'attr':{'class':'place'}})}}
                </div>
                <div class="input-box">
                    {{form_label(form.pseudoname,'Nouveau Pseudoname',{'label_attr':{'class':'details'}})}} {{form_widget(form.pseudoname,{'attr':{'class':'place'}})}}
                </div>
                <div class="input-box">
                    {{form_label(form.email,'Nouveau Email',{'label_attr':{'class':'details'}})}} {{form_widget(form.email,{'attr':{'class':'place'}})}}
                </div>
                <div class="input-box">
                    {{form_label(form.password.pass,'Nouveau Mot de passe',{'label_attr':{'class':'details'}})}} {{form_widget(form.password.pass,{'attr':{'class':'place'}})}}
                </div>
                <div class="input-box">
                    {{form_label(form.password.confirm,'Confirmez votre nouveau Mot de passe',{'label_attr':{'class':'details'}})}} {{form_errors(form.password)}} {{form_widget(form.password.confirm,{'attr':{'class':'place'}})}}
                </div>
                <div class="button">
                    {{ form_row(form.submit, { 'label': "Confirmer",'attr':{'class':'btn' } }) }} {# {{form_rest(form)}} #}
                </div>
                {{form_end(form)}}

            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %} {% block footer %}{% endblock footer %}