{% extends "base.html.twig" %}
{% block title %}TechShop -
	{{product.name}}
{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
	<!-- Products Details -->
	<section class="section product-details__section product-show">
		<div class="product-detail__container">
			<div class="product-detail__left">
				<div class="details__container--left">
					<div class="product__pictures"></div>
					<div
						class="product__picture" id="product__picture">
						<!-- <div class="rect" id="rect"></div> -->
						<div class="picture__container">
							<img src="/uploads/{{product.illustration}}" id="pic"/>
						</div>
					</div>
					<div class="zoom" id="zoom"></div>
				</div>
			</div>

			<div class="product-detail__right">
				<div class="product-detail__content">
					<h3>{{product.name}}</h3>
					<div class="price">
						<span class="new__price">{{(product.price / 100)|number_format(2,',','.')}}
							DH</span>
					</div>
					<div class="product__review">
						<a href="#j" class="rating__quatity">{{allReviews|length}}
							Avis</a>
					</div>
					<p>
						{{product.description}}
					</p>
					<div class="product__info-container">
						<form action="" method="post">
							<ul class="product__info">
								<li class="select">
									<div class="select__option">
										<label class="label" for="colors">Couleur</label>
										<select name="colors" id="colors" class="select-box">
											{% for couleur in couleurs %}
												<option>{{couleur}}</option>
											{% endfor %}
										</select>
									</div>
								</li>
								<li>

									<div class="input-counter">
										<span>Quantity:</span>
										<div>

											<a class="minus-btn">
												<svg class="minus-svg">
													<use xlink:href="{{asset('images/sprite.svg#icon-minus')}}"></use>
												</svg>

											</a>
											<input type="number" min="1" value="1" max="10" class="counter-btn" id="counter-btn" name="quantity">
											<a class="plus-btn">
												<svg class="plus-svg">
													<use xlink:href="{{asset('images/sprite.svg#icon-plus')}}"></use>
												</svg>
											</a>
										</div>
									</div>
								</li>

								<li>
									<span>Total:</span>
									<a  class="new__price" id="new__price">{{(product.price / 100)}}</a>
									<a  class="new__price">
										DH</a>
								</li>
								<li>
									<span>Marque:</span>
									<a >{{marque}}</a>
								</li>
								<li>
									<span>Categorie:</span>
									{% for category in product.category %} 
										<a> {{category.name}} //</a>
									{% endfor %}
								</li>
							</ul>
							<div class="product-info__btn"></div>
							<div class="product-details__btn">
								<input type="submit" name="submit" value="Ajouter au panier" class="btn">
								<a class="js-wishlistAdd" href="{{path('wish_list_add' ,{'slug': product.slug} )}}">
									{% if app.user and product.isItOnMyWishList(app.user) %}
										<span class="icon-hearth-link">
											<i class="fas fa-heart"></i>
										</span>
									{% else %}
										<span class="icon-hearth-link">
											<i class="far fa-heart"></i>
										</span>
									{% endif %}
								</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="product-detail__bottom">
			<div>
				{% include "z-helpers/reviewForm.html.twig" %}
				{% include "z-helpers/reviews.html.twig" %}
			</div>
		</div>
	</section>

	<!--AIDE-->
	<p id="valueCount" style="color: #FFF;">
		9</p>


{% endblock content %}
{% block footer %}{% endblock footer %}



