{% extends "base.html.twig" %} {% block title %}TechShop - {{product.name}} {% endblock title %} {% block header %}{% endblock header %} {% block content %}
<style>

</style>
<!-- Products Details -->
<section class="section product-details__section">
    <div class="product-detail__container">
        <div class="product-detail__left">
            <div class="details__container--left">
                <div class="product__pictures">
                    {% for illustration in illustrations %}
                    <div class="pictures__container">
                        <img class="picture" src="/uploads/{{illustration}}" id="/uploads/{{illustration}}" />
                    </div>
                    {% endfor %}
                </div>
                <div class="product__picture" id="product__picture">
                    <!-- <div class="rect" id="rect"></div> -->
                    <div class="picture__container">
                        <img src="/uploads/{{product.illustration}}" id="pic" />
                    </div>
                </div>
                <div class="zoom" id="zoom"></div>
            </div>

            {#
            <div class="product-details__btn">
                <a class="add" href="#">
                    <span>
                  <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-cart-plus')}} "></use>
                  </svg>
                </span>AJOUTER AU PANIER</a>

                {#
                <a class="buy" href="#">
                    <span>
                  <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-credit-card')}} "></use>
                  </svg>
                </span> BUY NOW</a> #} {# </div> #}
        </div>

        <div class="product-detail__right">
            <div class="product-detail__content">
                <h3>{{product.name}}</h3>
                <div class="price">
                    <span class="new__price">{{(product.price / 100)|number_format(2,',','.')}} DH</span>
                </div>
                <div class="product__review">
                    <div class="rating">
                        <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                  </svg>
                        <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                  </svg>
                        <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                  </svg>
                        <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                  </svg>
                        <svg>
                    <use xlink:href="{{asset('images/sprite.svg#icon-star-empty')}} "></use>
                  </svg>
                    </div>
                    <a href="#" class="rating__quatity">{{allReviews|length}} Avis</a>
                </div>
                <p>
                    {{product.subtitle}}
                </p>
                <div class="product__info-container">
                    <form action="" method="post">
                        <ul class="product__info">
                            <li class="select">
                                <div class="select__option">

                                    <label class="label" for="colors">Couleur</label>
                                    <select name="colors" id="colors" class="select-box">
                                            {% for couleur in couleurs %}
                                                <option>{{couleur}}</option>
                                            {% endfor %}
                                            </select>


                                </div>
                                {#
                                <div class="select__option">
                                    <label for="size">Inches</label>
                                    <select name="size" id="size" class="select-box">
                                                <option value="6.65">6.65</option>
                                                <option value="7.50">7.50</option>
                                            </select>
                                </div> #}
                            </li>
                            <li>

                                <div class="input-counter">
                                    <span>Quantity:</span>
                                    <div>

                                        <a class="minus-btn" href="#" {% if stock <=(0) %}disabled{% endif %}>
                                            <svg class="minus-svg">
                            <use xlink:href="{{asset('images/sprite.svg#icon-minus')}} "></use>
                          </svg>

                                        </a> <input type="text" min="1" {% if stock <=(0) %}value="0" {% else %} value="1" {% endif %} max="{{stock}}" class="counter-btn" id="counter-btn" name="quantity" {% if stock==0 %}disabled{% endif %}> {#
                                        <span
                                            class="counter-btn" id="counter-btn">1</span> #}
                                            <a class="plus-btn" href="#" {% if stock <=( 0) %}disabled{% endif %}>
                                                <svg class="plus-svg">
                            <use xlink:href="{{asset('images/sprite.svg#icon-plus')}} "></use>
                          </svg>
                                            </a>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <span>Total:</span>
                                <a href="#" class="new__price" id="new__price">{{(product.price / 100)}}</a><a href="#" class="new__price"> DH</a>
                            </li>
                            <li>
                                <span>Marque:</span>
                                <a href="#">{{marque}}</a>
                            </li>
                            <li>
                                <span>Categorie:</span> {% for category in product.category %}
                                <a href="#">{{category.name}}</a> {% endfor %}
                            </li>
                            {#
                            <li>
                                <span>Availability:</span>
                                <a href="#" class="in-stock">En Stock ({{product.qtestock}} pièce)</a>
                            </li> #}
                        </ul>
                        <div class="product-info__btn">
                            {#
                            <a href="#">
                                <span>
                      <svg>
                        <use xlink:href="{{asset('images/sprite.svg#icon-crop')}} "></use>
                      </svg>
                    </span>&nbsp; Guide de taille
                            </a> #} {#
                            <a href="#">
                                <span>
                      <svg>
                        <use xlink:href="{{asset('images/sprite.svg#icon-truck')}} "></use>
                      </svg>
                    </span>&nbsp; LIVRAISON
                            </a> #}
                            <a href="#">
                                <span>
                      <svg>
                        <use xlink:href="{{asset('images/sprite.svg#icon-envelope-o')}} "></use>
                      </svg>&nbsp;
                    </span> EN SAVOIR PLUS
                            </a>
                        </div>
                        <div class="product-details__btn">
                            {% if stock
                            <=(0) %} <input type="submit" name="submit" value="Rupture du stock" class="btn" disabled> {% else %}
                                <input type="submit" name="submit" value="Ajouter au panier" class="btn"> {% endif %} {#
                                <a class="add submit-btn" href="#">
                                    <span>
                          <svg>
                            <use xlink:href="{{asset('images/sprite.svg#icon-cart-plus')}} "></use>
                          </svg>
                        </span>AJOUTER AU PANIER</a> #} {#
                                <a class="buy" href="#">
                                    <span>
                          <svg>
                            <use xlink:href="{{asset('images/sprite.svg#icon-credit-card')}} "></use>
                          </svg>
                        </span> BUY NOW
                                </a> #}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="product-detail__bottom">
        <div class="title__container tabs">

            <div class="section__titles category__titles ">
                <div class="section__title detail-btn active" data-id="description">
                    <span class="dot"></span>
                    <h1 class="primary__title">Description</h1>
                </div>
            </div>

            <div class="section__titles">
                <div class="section__title detail-btn" data-id="reviews">
                    <span class="dot"></span>
                    <h1 class="primary__title">Avis</h1>
                </div>
            </div>

            <div class="section__titles">
                <div class="section__title detail-btn" data-id="shipping">
                    <span class="dot"></span>
                    <h1 class="primary__title">Details de livraison</h1>
                </div>
            </div>
        </div>

        <div class="detail__content">
            <div class="content active" id="description">
                <p>{{product.description}} </p>
            </div>
            <div class="content" id="reviews" style="width: 100%;">
                {#
                <h1>Customer Reviews</h1>
                <div class="rating">
                    <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                </svg>
                    <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                </svg>
                    <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                </svg>
                    <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-star-full')}} "></use>
                </svg>
                    <svg>
                  <use xlink:href="{{asset('images/sprite.svg#icon-star-empty')}} "></use>
                </svg>
                </div> #} {% include "z-helpers/reviewForm.html.twig" %} {% include "z-helpers/reviews.html.twig" %}


            </div>
            <div class="content" id="shipping">
                <h3>Returns Policy</h3>
                <p>You may return most new, unopened items within 30 days of delivery for a full refund. We'll also pay the return shipping costs if the return is a result of our error (you received an incorrect or defective item, etc.).</p>
                <p>You should expect to receive your refund within four weeks of giving your package to the return shipper, however, in many cases you will receive a refund more quickly. This time period includes the transit time for us to receive your return
                    from the shipper (5 to 10 business days), the time it takes us to process your return once we receive it (3 to 5 business days), and the time it takes your bank to process our refund request (5 to 10 business days).
                </p>
                <p>If you need to return an item, simply login to your account, view the order using the 'Complete Orders' link under the My Account menu and click the Return Item(s) button. We'll notify you via e-mail of your refund once we've received
                    and processed the returned item.
                </p>
                <h3>Shipping</h3>
                <p>We can ship to virtually any address in the world. Note that there are restrictions on some products, and some products cannot be shipped to international destinations.</p>
                <p>When you place an order, we will estimate shipping and delivery dates for you based on the availability of your items and the shipping options you choose. Depending on the shipping provider you choose, shipping date estimates may appear
                    on the shipping quotes page.
                </p>
                <p>Please also note that the shipping rates for many items we sell are weight-based. The weight of any such item can be found on its detail page. To reflect the policies of the shipping companies we use, all weights will be rounded up to
                    the next full pound.
                </p>
            </div>
        </div>
    </div>
</section>

<!--AIDE-->

<p id="valueCount">{{stock}}</p>


{% endblock content %} {% block footer %}{% endblock footer %}