<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet" />

  <link rel="shortcut icon" href=" {{asset('images/favicon.ico')}} " type="image/x-icon" />

  <!-- Carousel -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- Custom StyleSheet -->
  {% block stylesheets %}
  <link rel="stylesheet" href="{{asset("styles.css?t=<?1>")}}" />
  <link rel="stylesheet" href="{{asset("address.css?t=<?8>")}}" />
  <link rel="stylesheet" href="{{asset("account.css?t=<?2>")}}" />
  <link rel="stylesheet" href="{{asset("successPage.css?t=<?3>")}}"/>
  <link rel="stylesheet" href="{{asset("orders.css?t=<?0>")}}" />
  <link rel="stylesheet" href="{{asset("credentials.css?t=<?3>")}}" />
  {% endblock %}
  
  {# <link type="text/css" rel="stylesheet" href="styles.css?t=<? echo time(); ?>" media="all">         #}

  <title> {% block title %}{% endblock title %} </title>
</head>
    {% for message in app.flashes('notice') %}
        {% include "z-helpers/alert.html.twig" %}
    {% endfor %}
<body>

    <!-- Header -->
    {% include "z-helpers/header.html.twig" %}

   
    <!-- End Header -->

    <!-- Carousel -->
    {% if block('carousel') is defined %}
        {% include "z-helpers/carousel.html.twig" %}
    {% endif %}
    <!-- End Carousel -->

    <!-- Main -->
    <main id="main">
        <div class="container">
            {% if block('category') is defined %}
                {% include "z-helpers/category.html.twig" %}
            {% endif %}
            {% if block('bestSeller') is defined %}
                {% include "z-helpers/bestSeller.html.twig" %}
            {% endif %}
            {% block content %}{% endblock content %}
            {% if block('services') is defined %}
                {% include "z-helpers/services.html.twig" %}
            {% endif %}
        </div>
        {% block products %}{% endblock products %}
        {% if block('temoignage') is defined %}
            {% include "z-helpers/temoignage.html.twig" %}
        {% endif %}
        {% if block('newsletter') is defined %}
            {% include "z-helpers/newsletter.html.twig" %}
        {% endif %}
    </main>    
    <!-- End Main -->

    <!-- Footer -->
    {% if block('footer') is defined %}
            {% include "z-helpers/footer.html.twig" %}
    {% endif %}
    <!-- End Footer -->

    <!-- PopUp -->
    <!-- End PopUp -->
    
    <!-- Go To -->
    <!-- End Go To -->




  <!-- Glide Carousel Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  <!-- Animate On Scroll -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Custom JavaScript -->
  {% block script %}{% endblock script %}
 <script src=" {{asset('js/products.js?t= <?8>')}}"></script>
 <script src=" {{asset('js/header.js?t= <?7>')}}"></script>
  <script src=" {{asset('js/index.js?t= <? echo time(); ?>')}}"></script>
  <script src=" {{asset('js/slider.js?t= <? echo time(); ?>')}}"></script>
  <script src="{{asset('js/script.js?t= <? echo time(); ?>')}}"></script>
  

</body>

</html>