{% extends 'base.html.twig' %} {% block title %}TechShop - Choix d'adresse de livraison{% endblock title %} {% block content %}

<style>
    .address-title {
        text-align: center;
        margin-bottom: 1rem;
    }
    
    .address-desc {
        text-align: center;
    }
    
    .address-header {
        margin-bottom: 2rem;
    }
    
    .content-form-header {
        margin-bottom: 3rem;
    }
    
    .content-form-title {
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    
    .content-form {
        width: 50%;
        padding: 3rem;
        background-color: var(--primaryColor);
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    
    th {}
    
    td {
        vertical-align: middle;
        padding: 1.8rem 0;
        white-space: nowrap;
        border-bottom: 1px solid gray;
    }
    
    form.content-radio {}
    
    input {
        margin-right: 2rem;
    }
    
    label {
        white-space: pre-line;
    }
    
    .recap {
        float: right;
        margin-right: -3rem;
    }
    
    .address-link {
        color: cornflowerblue;
        text-decoration-line: underline;
    }
    
    .address-link:hover {
        color: var(--orange);
    }
    
    .product-details__btn {
        display: flex;
        justify-content: center;
    }
    
    .product-details__btn .btn {
        width: 50%;
    }
    
    .product__thumbnail img {
        width: 6rem;
        height: 8rem;
    }
    
    .content-area {
        padding-bottom: 5rem;
    }
    
    a.address-link {
        font-size: 16px;
    }
    
    @media screen and (max-width: 649px) {
        .recap {
            float: none;
            margin-right: 0;
        }
        .content-form {
            width: 100%;
            padding: 3rem;
            background-color: lavender;
            margin-bottom: 2rem;
        }
    }
</style>
<section class="section content__area">
    <div class="container">
        <div class="responsive__cart-area">
            <div class="address-header">
                <h1 class="address-title">Choisissez votre adresse de livraison</h1>
                <p class="address-desc">(Le prix de la livraison varie selon votre localisation)</p>
            </div>
            <hr>
            <div class="cart__form">
                <form class="form-radio" method="post">
                    <div class="content-form recap">
                        <div class="content-form-header">
                            <h2 class="content-form-title">Récapitulatif</h2>
                            <p>Voici le récapitulatif de votre commande :</p>
                        </div>
                        <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set totalPriceProduct = 0 %} {% set total = 0 %} {% for product in cart %}
                                <tr>
                                    <td class="product__thumbnail">
                                        <a href="#">
                                            <img src="uploads/{{product.product.illustration}}" alt=" ">
                                        </a>
                                    </td>
                                    <td class="product__name">
                                        <a href="#">{{product.product.name}} </a>
                                        <br>
                                        <small>{{product.variation}}</small>
                                        <br><br> {% set totalPriceProduct = (product.product.price / 100) * product.quantity %}
                                        <div class="price">
                                            <p><span class="old__price">{{(product.product.price / 100)|number_format(2, ',', '.')}} DH </span><small>/Pièce</small> x{{product.quantity}} </p>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="content-form">
                        <div class="content-form-header">
                            <h2 class="content-form-title">Vos adresses :</h2>
                            <p>{{addresses|length}} Adresses</p>
                        </div>
                        <div>
                            <a class="address-link" href="{{path('new_address')}} ">Ajouter une nouvel adresse</a>
                        </div>
                        <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set key = null %} {% if addresses %} {% for address in addresses %}
                                <tr>
                                    <td><input type="radio" name="address" id="address{{key}}"></td>
                                    <td>
                                        <label for="address{{key}}"><strong>Nom : </strong> {{address.name}} <br><br> <strong>Adresse :</strong> {{address.address}} <br><br> {{address.city}} , {{address.country}} <br><br><strong>Postal : </strong> {{address.postal}} {% if address.company %} <br><br> <strong>Entreprise : </strong> {{address.company}} {% endif %}
                                        </label></td>
                                </tr>
                                {% set key = key + 1 %} {% endfor %} {% else %}
                                <div class="address-null" style="margin-top: 1rem;">
                                    <strong>Vous n'avez aucune adresse , veuillez en ajouter une ou plusieur.</strong>
                                </div> {% endif %}


                            </tbody>
                        </table>
                    </div>
                    <div class="content-form">
                        <div class="content-form-header">
                            <h2 class="content-form-title">Choisisser le transporteur qui vous convient :</h2>
                            <p>transporteurs :</p>
                        </div>
                        <table class="table" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set key = 0 %} {% for carrier in carriers %}
                                <tr>
                                    <td><input type="radio" name="carrier" id="carrier{{key}}"></td>
                                    <td>
                                        <label for="carrier{{key}}"><strong>Nom : </strong>{{carrier.name}} <br><br> <strong>Description: </strong>{{carrier.description}} <br><br> <strong>Prix :</strong>{{(carrier.price / 100)|number_format(2,",",".")}} </label>
                                    </td>
                                </tr>
                                {% set key = key + 1 %} {% endfor %}
                            </tbody>
                        </table>
                    </div><div class="product-details__btn">
                                    <input type="submit" name="submitAd" id="submitAd" value="Confirmer" class="btn">
                                </div>
                </form>

            
                                
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% block footer %}{% endblock footer %}